{% extends 'catalog/base.html' %}
{% block title %}List of the products{% endblock %}
{% block content %}
{% include 'catalog/header.html' %}

<div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Convinient to choose</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ 100</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Only your dreams</li>
                        <li>- Support</li>
                        <li>- Dzen and more</li>
                        <li>- Dream update</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-5">
        </div>

        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Convinient to choose</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ 100</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Only your dreams</li>
                        <li>- Support</li>
                        <li>- Dzen and more</li>
                        <li>- Dream update</li>
                    </ul>
                    <a href="{% url 'catalog:categories_list' %}"  class="btn btn-lg btn-block btn-outline-primary mb-4">Go to all categories</a>
                    <a href="{% url 'catalog:products_list' %}"  class="btn btn-lg btn-block btn-outline-primary">Go to all products</a>

                </div>
            </div>
        </div>

    </div>

{% include 'catalog/footer.html' %}
{% endblock %}