{% extends 'catalog/base.html' %}

{% block title %}Delete a product{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<h2>Delete a product</h2>
<p>Are you sure you want to delete {{ object.product_name }}?</p>
{% if product.product_image %}
<p><img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ product.product_image.url}}" class="card-img-top" alt="..." role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
</p>
{% endif %}

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Continue to delete</button>
    <a href="{% url 'catalog:products_list' %}" class="btn btn-primary">Reject</a>
    <a href="{% url 'catalog:products_list' %}" class="btn btn-primary">Back to list of products</a>

  </form>

{% endblock %}