{% extends 'catalog/base.html' %}
{% block title %}List of the products{% endblock %}
{% block content %}
{% include 'catalog/header.html' %}

<div class="row text-center">
    <div class="col-12">
        <p><a class="btn btn-success" href="{% url 'catalog:products_create' %}">Add product</a></p>
        <div class="d-flex flex-wrap">
            {% for product in object_list %}
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{product.category}}</h4>
                        <h5 class="card-title">{{product.product_name}}</h5>
                        <p class="card-text">{{product.product_description|truncatechars:10}}</p>
                        <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-sm btn-primary ml-3">More about </a>
                        <p><a class="btn btn-danger" href="{% url 'catalog:product_delete' product.pk %}">Delete product</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'catalog/footer.html' %}
{% endblock %}